<div class='fields row-fluid'>
	<%= f.input :value, wrapper_html: { class: "span6"} %>
	<%= f.association :currency, wrapper_html: { class: "span4"} %>
	<%= link_to_remove_fields "<i class='icon-trash'></i>", f %>
</div>