  <div id="container" class="container">
    <div id="main" role="main" class='row'>
      <div id="view_selection" class="btn-group">
        <a href="#" id="all" class="btn active">All Projects</a>
        <a href="#" id="year" class="btn">Projects By Year</a>
        <a href="#" id="flow" class="btn">Projects By Flow Class</a>
      </div>

      <div id='loading-bar' class='offset2 span8' style='margin:20px'>
          <div class="progress progress-striped active">
             <div class="bar" style="width: 1%;"></div>
          </div>
          <p>Loading data...</p>
      </div>
      <div id="legend" style='position:absolute;background-color: rgb(255, 255, 255); border: 1px solid rgb(128, 128, 128); opacity: 0.9; padding: 1px 5px; margin-top: 5px; display: none;'>
        <h3>Legend</h3>
      </div>
      <div id="vis2" >
      </div>
    </div>
    <div class='row'>
      <a href="#" id="legend" class="btn">Legend <%= image_tag("tinygraph.gif") %></a>
    </div>
  </div>
  <%= javascript_include_tag 'bubbles/index' %>
  <script type="text/javascript">
    $(document).ready(function() {
        $(document).ready(function() {
          $('#view_selection a').click(function() {
            var view_type = $(this).attr('id');
            $('#view_selection a').removeClass('active');
            $(this).toggleClass('active');
            toggle_view(view_type);
            return false;
          });
          $('a#legend').click(function(){
            $('div#legend').toggle();
            $('a#legend').toggleClass('active');
            return false;});
          $('div#legend').click(function(){
            $('div#legend').toggle();
            $('a#legend').toggleClass('active');});
        });
    });
  </script>