<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
<style>
    .container {width:100% !important;padding:10px !important;}
    #vis { width:100%; height:630px; margin-right:auto; margin-left:auto;}
    #map { position:absolute; right:20%; height:600px; width:60%; margin-right:auto;margin-left:auto; }
    #searchbar {width:60%;position:relative;left:20%; right:10px;}
    #searchbar .vissearch {width:100%;margin-bottom:0px !important;}
    #searchbar form {position:relative; right:10px; margin-bottom: 1px;}
    #left {float:left;width:18%}
    #layercontrol {float:left;position:relative;top:-31px;border:solid #1c273b 1px;height:80px;width:100%;}
    #filtercontrol {float:left;position:relative;top:-10px;border:solid #1c273b 1px;height:526px;width:100%;}
    #searchresults {float:right;position:relative;right:20px; top:-31px;border:solid #1c273b 1px;height:629px;width:18%;}
    h4 {margin-left:5px;}
    #base_layer {margin-left: 4%;margin-right: 4%;width: 90%;}
</style>
<div id="vis">
    <div id="searchbar">
      <%= form_tag "/humanity_dashboard", method: :get do %>
            <%= text_field_tag :search, params[:search], placeholder: 'Search for projects by keyword...', class:'vissearch' %>
      <% end %>
    </div>
    <div id='map'>
    </div>
    <div id="left">
        <div id="layercontrol">
          <h4>Base Layer</h4>
          <%= select_tag "base_layer", options_for_select([ "No base layer", "Poverty", "Armed conflict", "Social conflict", "Mineral deposits" ], "No base layer")%>
        </div>
        <div id="filtercontrol">
          <h4>Filter</h4>
        </div>
    </div>
    <div id="searchresults">
      <h4>Results</h4>
    </div>
</div>
<script>
    var tiles = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpeg', {
                attribution: 'Tiles by <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                subdomains: '1234'
            }),
            acled = L.mapbox.tileLayer('miranda-lv.qz9nqaor', {
                detectRetina: true
            }),
            poverty = L.mapbox.tileLayer('miranda-lv.di996bt9'),
            heat = L.mapbox.tileLayer('miranda-lv.nyyi7ldi'),
            usgs = L.tileLayer.wms("http://mrdata.usgs.gov/services/mrds", {
                version: '1.1.1',
                service: 'WMS',
                request: 'GetMap',
                layers: 'mrds',
                format: 'image/png',
                STYLE: 'default',
                transparent: 'true',
                attribution: "United States Geological Survey @ http://tin.er.usgs.gov/mrds/"
            }),
            map = L.map('map')
                    .setView([6.964039, 19.533678], 3)
                    .addLayer(tiles), //follow: true
            none_val = "No base layer",
            pov_val = "Poverty",
            acled_val = "Armed conflict",
            scad_val = "Social conflict",
            usgs_val = "Mineral deposits";
    $(document).ready(function(){
        $('#base_layer').change(function(){
            var selected_layer = $("#base_layer option:selected").val();
            console.log("Layer: "+selected_layer);
            if(selected_layer==none_val){
                map.removeLayer(acled)
                map.removeLayer(poverty)
                map.removeLayer(heat)
            }
            if(selected_layer==pov_val){
                map.removeLayer(acled)
                map.removeLayer(heat)
                map.addLayer(poverty)
            }
            if(selected_layer==acled_val){
                map.removeLayer(poverty)
                map.removeLayer(heat)
                map.addLayer(acled)
            }
            if(selected_layer==scad_val){
                map.removeLayer(acled)
                map.removeLayer(poverty)
                map.addLayer(heat)
            }
            if(selected_layer==usgs_val){
                map.removeLayer(acled)
                map.removeLayer(poverty)
                map.removeLayer(heat)
            }
        })
    })
</script>