<div id="vis"></div>
<%= javascript_include_tag "http://d3js.org/d3.v2.js" %>
<%= javascript_include_tag "collection.js" %>
<script type="text/javascript">
d3.json("projects.json", function(data) {
// Data work


// Preparing the map
var w = 800,
    h = w*(1),
    xy = d3.geo.mercator().scale(w*4.5).translate([100,300]),
    path = d3.geo.path().projection(xy)

    ;
	
var vis = d3.select("#vis")
  .append("svg:svg")
  	.attr("id", "africa-map")
    .attr("width", w)
    .attr("height", h)    
    ;

var map = vis.append("svg:g")
    .attr("id", "states")
	.attr("transform","translate(100,"+ w/8 + ")")
	;
	
var countries =  d3.select("#states")
    .selectAll("path")
      .data(collection.features)
  .enter().append("svg:path")
      .attr("cursor", "pointer")
      .attr("id", function(d, i) {return d.id})
      .attr("name", function(d) {return d.properties.name})
      .attr("d", path)
      .attr("stroke-width", 1)
      .attr("stroke", "#333")
      .attr("fill", "#f77" ) //function(d) {if (grants[d.id]) {return c(grants[d.id])} else { return "#777"}})
      //.on("click", click)
      //.on("mouseover", highlight)
      // .on("mouseout",  unhighlight)
      ;

  })

</script>