.row-fluid
  %ul.thumbnails
    %li.span3
      %a.thumbnail.social-thumbnail{href: "/auth/facebook"}
        = image_tag "f_logo.png"
        -# %h3.center Facebook

    %li.span3
      %a.thumbnail.social-thumbnail{href: "/auth/linkedin"}
        = image_tag "LinkedIn_Logo60px.png"
        -# %h3.center Linked In
    %li.span3
      %a.thumbnail.social-thumbnail{href: "/auth/twitter"}
        = image_tag "twitter.png"
        -# %h3.center Twitter
    %li.span3
      %a.thumbnail.social-thumbnail{href: "/auth/google_oauth2"}
        = image_tag "gmail.gif"
        -# %h3.center Google

