<% provide(:title, 'CSV Health') %>
<% provide(:first_header, "CSV Health Tester") %>

<h2 id='header'></h2>

<table class='table'>
	<thead>
		<tr>
			<th>Column</th>
			<th># Unique </th>
			<th># Populated</th>
		</tr>
	</thead>
	<tbody id='data'>
	</tbody>
</table>

<%= javascript_include_tag "csv_test/index" %>