
<%= stylesheet_link_tag 'dashboard/styles' %>
<script type="text/javascript" src='https://raw.github.com/StanfordHCI/datavore/master/dv.js'></script>


<div class='row'>
	<span class='alert info span12'>Optimized for Google Chrome.
	</span>
</div>

<div class='row' id='vis'>
	<div id='now_showing' class='row'>
		<div class='span6'>
			<h1 >
				AidData 2.1
			</h1>
			<p id='detail'>
				<i>Mouseover for detail</i>
			</p>
		</div>
		<div class='span6'>
			<span id='rescale' class='btn btn-primary' onclick="App.rescale()">
				Rescale
			</span>
		</div>
	</div>
	<div id='waiting'>
		<div class='hero-unit'>
			<h1>Data Dashboard</h1>
			<p>Filter and group the dataset with selectors below. </p>
			<p>Start typing to filter the items on the list.</p>
			<p><i>Loading your data... </i></p>
		</div>
	</div>
</div>

<div class='row-fluid' id='filter_container'>
</div>

<%= javascript_include_tag 'd3/d3.v2.min' %>
<%= javascript_include_tag 'dashboard/index' %>
