<% provide :title, "Humanity Unite Dashboard" %>

<h1 class='page-header'>
  Humanity United Dashboard
</h1>
<%= puts @geocodes.to_json %>


<%= render partial: 'static_pages/humanity_dashboard_js.html.erb', locals: {geocodes: @geocodes} %>