
<% provide :title, "Country Explorer" %>

<h1 class='page-header'>
	Country Explorer
	<small>
		Click a country to learn more
	</small>
</h1>


<%= render partial: 'static_pages/map_js', locals: {total_projects: @total_projects} %>