- provide :title, @content.name.titleize
- provide :header_content, "<h1>#{@content.name.titleize}</h1>".html_safe

.row-fluid
	.span12.site_content{style: "margin: auto, auto;"}

		:markdown
			#{@content.content}