

#project-form-wrapper{
	
}
.project-form {
	hr {
		margin:2px;
	}

	.control-group, label {
		margin: 0px 0px 5px 5px;
	}

	label {
		line-height:15px;
	}
	.add-one {
		margin-left:25px;
	}

	.on-nav-bar {
		position: fixed;
		top: 0px;

	}

	#project-form-nav-wrapper {

		#project-form-nav {
			position:fixed;

			a {
				padding: 4px 8px;
			}
		}
	}

	#project-form-content {

		.fields {
			border-bottom: 1px solid #333;
			margin-bottom: 5px;
		}
		.project-accessory-fields {
			max-height: 200px;
			overflow-y: scroll;
			resize:vertical;
			box-shadow: #aaa -2px 1px 2px;
			border-radius: 6px;

			p:first-child {
				margin-bottom: 5px;
			}

			b {
				margin-bottom: 5px;
				border-bottom: 1px solid #555;
			}
		}


		#project-form-project {

			.dates-box select {
				max-width:80px;
			}

			.active-project-check {
				background-color: #afc;
			}
			.inactive-project-check {
				background-color: #fca;
			}
		}

		#project-form-flow-class {
			background-color: #B9CAFA;
		}

		#project-form-loan-detail {
			background-color: #FFE3E3;
			overflow-y:auto;
		}

	}
}

