@mixin project_form_box {
	margin: 8px 8px 8px 8px;
	padding: 8px;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.project-accessory-fields .fields {
	@include project_form_box;
}

.dates-box{
	@include project_form_box;
}

.project-date{
	.controls {
		margin-left:110px;
	}
	label {
		max-width:100px;
	}
	select {
		display:inline;
		max-width:60px;
	}
}


