<% provide(:title, @user.name) %>

<h1 class='page-header'>
	User: <%= @user.name %>
</h1>

<div class="row">
<section>
	<p>
	<b>Name:</b> <%= @user.name %> 
	</p>
	<p>
	<b>Email:</b> <%= @user.email %> 
	</p>
	<p>
	<b>Owner:</b> <%= @user.owner.nil? ? 'None' : @user.owner.name %>
	</p>
</section>
</div>

