#recent-changes
  %h3.text-warning
    Recent Changes
    %small.pull-right
      %i Hover to see all changes
  %ul.unstyled

%script#recent-item{type: 'text/template'}
  %li.change
    %a{href:'/projects/<%= id %>'.html_safe}
      %strong
        <%= title %>
    %br
    %span.muted
      <%= info.length > 0 ? info + "," : "" %>
    %span<>
      <%= action %>

= javascript_include_tag 'underscore/index'

:javascript
  
  function normal_state () {
    $('.change').hide()
    $('.change:first-child').show()
  }

  $("#recent-changes").parent()
    .mouseenter(function() {
      $('.change').slideDown()
    })
    .mouseleave(function() {
      normal_state()
    })

  function load_recent() {

      $.get('/recent', function(data) {
        $('#recent-changes ul').html("")
        data.forEach(function(d) {
        template_text = $("#recent-item").html()
        $('#recent-changes ul').append(
          _.template(template_text, d)
          )
        normal_state()
      })
  })}
  load_recent()

  setTimeout(load_recent, 5000);

