#vis_controls {
  text-align:center;
}
#africa-map {
  background: transparent;
}
#tooltip {
  position:absolute;
  font-family:sans-serif;
  font-size:12px;
  background-color:#fff;
  border: 1px solid gray;
  opacity: 0.9;
}

#tooltiptext {
  margin: 1px 5px;
}

#top_projects_body{
  color:black;
  ul {
 
  }
  li {
    margin-left:5px;
  }
}

.axis line, .axis path {
  fill:none;
  stroke: #fff;
}