<h1>Listing loan_details</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loan_details.each do |loan_detail| %>
  <tr>
    <td><%= link_to 'Show', loan_detail %></td>
    <td><%= link_to 'Edit', edit_loan_detail_path(loan_detail) %></td>
    <td><%= link_to 'Destroy', loan_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loan detail', new_loan_detail_path %>
