<div class='fields row-fluid'>
	<%= f.input :value, label: false, placeholder: "Value", wrapper_html: { class: "span6"} %>
	<%= f.association :currency, label: false, prompt: "Currency", wrapper_html: { class: "span4"} %>
	<%= link_to_remove_fields f %>
</div>