<div class='fields row-fluid'>
	<%= f.input :name, label: false, placeholder: "Contact Name", wrapper_html: {class: "span4"} %>
	<%= f.input :position, label: false, placeholder: "Contact Position", wrapper_html: {class: "span3"} %>
	<%= render partial: 'field_for_organization', locals: {f: f, wrapper_class: "span4"} %>
	<%= link_to_remove_fields f %>
</div>