<a href="#flag_<%= flag.id %>" class='flag-reference' id='flag-reference_<%=flag.id%>'
  title="<%= flag.comment %>" >

  <sup style="color:<%= flag.flag_type.color %>;">
    [x<!-- content replaced with JS !-->]
  </sup>
</a>
