<div class='fields span4'>
	<%= f.association :organization %>
	<%= f.association :role %>
	<%= f.association :origin %>
	<p>
		<i><%= link_to_remove_fields "Remove Organization", f %></i>
	</p>
</div>