.row-fluid

  %h4
  %ul#resources.unstyled
    // Limit renders resources for main page. Other is for popup box.
    - if limit == true
      -  @project.resources[0..1].each do |r|
        = render partial: 'project_resource', locals: {r: r}
    - else
      -  @project.resources.each do |r|
        = render partial: 'project_resource', locals: {r: r}

    - if @project.resources.blank?
      %em.muted#no_resources
        No resources yet!

- if current_user_is_aiddata
  %script#resource-template{type: 'text/template'}
    %li{"data-resource-id" => "<%= resource_id %>".html_safe}
      %p
        <%= resource %>
      %span6
        %a{href: "/resources/<%= resource_id %>".html_safe}
          More about this resource &rarr;
      <%= unlink_button %>
