<ul class='unstyled'>
  <% if limit == true %>
    <% @project.sources[0..1].each do |s| %>
        <%= render partial: 'project_source', locals: {s: s} %>
    <% end %>
  <% else %>
      <% @project.sources.each do |s| %>
          <%= render partial: 'project_source', locals: {s: s} %>
      <% end %>

  <% end %>
  <% if @project.sources.blank? %>
    <li>
      <span class='unset-data'>No sources yet</span>
    </li>
  <% end %>
</ul>
