<script type='text/javascript'>

	$(function() {
		$('.flaggable').append("<%= FlagType.all.map { |ft| "<a href='#' style='color:#{ft.color}' class='flag-link flag-link-#{ft.name}'>#{ft.name}</a> " }.join("  ").html_safe %>")
		

		
		<%= FlagType.all.map { |ft| "$('.flag-link-#{ft.name}').popover({placement: 'top', title: '<span style=\\'color:#{ft.color};\\'>#{ft.name}</span> this:', trigger: 'manual', content: '#{render(partial: 'project_flag_form', locals: {flag_type: ft.name, flag_type_id: ft.id}).gsub(/\n/, ' ')}'});"}.join(" 
		").html_safe %>
		
		$('.flag-link')
			.click(function(link) {
				link.preventDefault()
				$('.flag-link').popover('hide')
				$(this).popover('show')

				$(".flag-popover").append('<input id="flag_flaggable_id" name="flag[flaggable_id]" size="10" type="hidden" value="'+$(this).parent().attr('flaggable_id')+'">' +
					'<input id="flag_flaggable_type" name="flag[flaggable_type]" size="10" type="hidden" value="'+$(this).parent().attr('flaggable_type')+'">'
					)

				$(".cancel_flag").click(function(link) {
					link.preventDefault()
					$(".flag-link").popover("hide")
				})
			})
	
		$('.flaggable')
			.hover(function() { 
				$(this).toggleClass('flaggable-hover')
					.children('.flag-link').toggleClass('flag-link-hover')
				})
			//.click()

		$('.flag-reference').click(function() {$('#flags_tab').tab('show'); $("html, body").animate({ scrollTop: 0 }, "fast");}) //$('#'+this.href.substr(this.href.indexOf("#")+1)).prev().focus()})
	})
	

	</script>
