
<script type='text/javascript'>

	$(function() {

		$('.flag-reference').tooltip()
		$('.flag-li').each(function(i, d) {
			id = $(d).attr('data-flag-id')
			index = $(d).attr('data-flag-index')
			$('#flag-reference_'+id + ' sup').text("["+index+"]")
		})


		$('.flaggable').append("<span class='flag-links pull-right'> \
			 <%= FlagType.all.map { |ft|  
			 	"<a href='#' " + 
			 	"class='btn-small btn-#{
			 		if ft.color=='red'
			 			"danger"
			 		elsif ft.color == 'green'
			 			"success"
			 		else
			 			"info"
			 		end
			 	} flag-link' data-flag-type-name=\'#{ft.name}\' data-flag-type-id=\'#{ft.id}\'> " +
			 	"#{ft.name}</a> " 
			}.join("  ").html_safe %> \
			  </span>")
		
		$('.flag-link')
			.click(function(link) {
				link.preventDefault()
				flag = {}
				flag.flag_type_id = $(this).attr("data-flag-type-id")
				flag.flag_type_name = $(this).attr("data-flag-type-name")
				flag_target = $(this).parent().parent()
				flag.flaggable_type = flag_target.attr("flaggable_type")
				flag.flaggable_id = flag_target.attr("flaggable_id")
				flag.label_class = flag.flag_type_name=='Confirm' ? 'success' : (flag.flag_type_name == 'Challenge' ? 'error' : "" )
				flag.container_id = flag.flag_type_id + "-" + flag.flaggable_id + "-" + flag.flaggable_type

				modal_html = _.template($("#flag-form-template").html(), flag).replace(/CONTAINER_ID/, flag.container_id) // Was having trouble escaping the ID attribute from HAML
				$('body').append(modal_html)
				console.log("modal", flag)
				$("#" + flag.container_id).modal('show')


			})
	
		$('.flaggable')
			.hover(function() { 
				$(this).toggleClass('flaggable-hover')
					.children('.flag-links').toggleClass('flag-links-hover')
				})
			//.click()
	})
	

</script>
