#project-form-recipients.project-accessory-fields
	- if !@project.errors[:geopoliticals].blank?
		- @project.errors[:geopoliticals].each do |error|
			%div{:class => "alert alert-danger"}
				= error
	%p
		%strong
			Recipients:
		= link_to_add_fields add_one_label, f, :geopoliticals
	= f.simple_fields_for :geopoliticals do |geos|
		= render 'fields_for_geopolitical', f: geos	