.row-fluid{style: "margin-bottom: 8px;"}
  .span7
    %input#new_resource{placeholder: "To add a Resource, search or enter a resource ID" }
  .span1
    %button.btn.btn-success.btn-small#add_resource
      Add!
  .span4
    = link_to "Create a new resource &rarr;".html_safe, new_resource_path, target: "_blank", class: "resource-tooltip", title: "Create the resource in a new window, then it will be searchable here."
= javascript_include_tag "resources/index" 