<% provide(:title, "#{ @project.title.blank? ? "(No Title)" : @project.title }") %>

<%  if @project.sources.any? {|s| s.source_type_name == 'Factiva'}
      flash.now[:notice] = "This project has some sources from #{link_to "Factiva", "https://global.factiva.com/"}. Your university or local library may offer access to that resource."
    end
%>

<div class="row project-edit-links pull-right">	
	<% if (signed_in? && current_user.owner == @project.owner) || (@project.owner.nil? && current_user_is_aiddata) %>
			<%= link_to "Edit this project", edit_project_path(@project), class: "span3 btn btn-success" %>
			<%= link_to "Delete this project", @project, method: :delete, confirm: "Are you sure?", class: "span3 btn btn-danger" %>
			</p>
	<% end %>
</div>




<div class="row">
	<%= render 'project' %>
</div>
<div class='row'>
	<h1>Flags:</h1>
	<%= render 'project_flags' %>
</div>






