<% provide(:title, "#{ @project.title.blank? ? "(No Title)" : @project.title }") %>


<div class="row project-edit-links">	
	<% if (signed_in? && current_user.owner == @project.owner) || (@project.owner.nil? && current_user_is_aiddata) %>
			<p class='span3 pull-right btn btn-success'><b><%= link_to "Edit this project", edit_project_path(@project) %></b></p> 
			<p class='span3 pull-right btn btn-danger'>
				<b>
					<%= link_to "Delete this project", @project, method: :delete, confirm: "Are you sure?" %>
				</b>
			</p>
	<% end %>
</div>




<div class="row">
	<%= render 'project' %>
</div>
<div class='row'>
	<h1>Flags:</h1>
	<%= render 'project_flags' %>
</div>






