- provide(:title, "500") 
%h1.page-header.small Oops!
%div
  %h2 Something went wrong
  %p
    The site encountered an error.
  %p
    Want to
    %a{href: root_path} go back to the home page
    and try again?
