/* line 1, ../../../app/assets/stylesheets/map_vis/styles.css.scss */
#vis_controls {
  text-align: center;
}

/* line 4, ../../../app/assets/stylesheets/map_vis/styles.css.scss */
#africa-map {
  background: transparent;
}

/* line 7, ../../../app/assets/stylesheets/map_vis/styles.css.scss */
#tooltip {
  position: absolute;
  font-family: sans-serif;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid gray;
  opacity: 0.9;
}

/* line 16, ../../../app/assets/stylesheets/map_vis/styles.css.scss */
#tooltiptext {
  margin: 1px 5px;
}

/* line 20, ../../../app/assets/stylesheets/map_vis/styles.css.scss */
#top_projects_body {
  color: black;
}
/* line 25, ../../../app/assets/stylesheets/map_vis/styles.css.scss */
#top_projects_body li {
  margin-left: 5px;
}

/* line 30, ../../../app/assets/stylesheets/map_vis/styles.css.scss */
.axis line, .axis path {
  fill: none;
  stroke: #fff;
}
