

/* Bootstrap overrides */

$baseFontSize: 13px; 
// $navbarBackground: #172237;
$navbarBackgroundHighlight: rgba(0,0,0,0);
$linkColor: #1146a6;
$sansFontFamily: Arial, Tahoma, sans-serif;
$btnInfoBackground: #63a3d1;
$btnInfoBackgroundHighlight: #4881b6;
$infoBackground: lighten(#63a3d1, 30%);
$infoText: #4881b6;
/* my stuff */
$invalidRed: #942;
$whiteShadow: rgb(18, 30, 50) 3px 3px 3px;


@import "bootstrap";
@import "bootstrap-responsive";
@import "project/styles";




/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
																										/* universal */

html {
  overflow-y: scroll;
}

.domain {
  visibility:hidden;
}
body {
  background-color: #f9f9f9;
  font-family: Tahoma, Arial, sans-serif;
  line-height: 14px;

  .with_shadow {
      box-shadow: rgba(50,50,50,.8) 0px 0px 9px;
  }
  .container, .container-fluid {

    &.main {
      padding: 10px 10px;
      background-color: white;
    }

  }
}

/*
section {
  overflow: auto;
}
//*/

.alerts {
  margin-top: 5px;
  display: block;
}


.row-fluid, .row {
  margin-left:0px;

  &.row-no-margin {
    margin: 0px;

    [class*="span"] {
      min-height: 0px
    }
  }
}
.center {
  text-align: center;
    h1 {
  margin-bottom: 10px;
  }

}

#vitals {
  ul {
    li {
      color: #101010;
      //font-weight:  bold;
      font-size: 1.3em;
      margin-bottom: 8px;
      border-bottom: 1px solid #ddd;


    }
  }
}

.social-thumbnail {
  $social-thumbnail-img-size: 200px;

  height: $social-thumbnail-img-size;
  img {
    
    max-height: $social-thumbnail-img-size;
    max-width: $social-thumbnail-img-size;
  }
}

																											/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  //text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: center;
  font-weight: normal;
  color: $grayLight;
}
p {
  font-size: 1em;
}

                                      /* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
    a {
  color: #555;
      &:hover { 
  color: #222;
    }
    img {
    max-height:100px;
    }
  }
    small {
  float: left;
  }
    ul {
  float: right;
  list-style: none;
      li {
  float: left;
  margin-left: 10px;
      }
  }
}


                                            /* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


.home_thumbnails {
    .thumbnail {
      position: relative;
      background-color: white;
      h4 {
        text-shadow: rgba(18, 30, 50, .4) 2px 2px 5px;
        padding: 10px;
        position: absolute;
    }
  }
}

#home_media {
  h1,h2,h3,h4 {
    text-shadow: rgba(18, 30, 50, .4) 2px 2px 5px;
  }
}
#home_carousel {
  $carousel_height: 300px;
  $carousel_width: 600px;
  //max-width: 900px;
  //max-height: 500px;
  margin: 20px auto 0px auto;
  //padding: 10px;

  .carousel-inner {

    .item {

      overflow:hidden;
      h1 {
        position:absolute;
      }
      img {
        min-height: $carousel_height !important;
        //max-width: $carousel_width !important;
        margin: auto auto;
        clip:rect(0px $carousel_width $carousel_height 0)
      }
    }
  }
}
.team-image {
  max-height: 200px;
  border: 1px solid #333;
}

                    										/* forms */


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 2px;
  height: auto !important;
  margin-bottom: 1px;
  margin-top: 2px;
  @include box_sizing;
}

label {
  font-weight: bold;
}
.help-block {
  margin: 0 0 0 0!important;
  color: #ccc;
  font-style: italic;
  display: inline;
}


#error_explanation {
  ul {
  color: #f00;
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.boolean {
	cursor:pointer;

    &:hover {
  	background-color:#d0d9f0;
  	}
}

