
/* my stuff */
$invalidRed: #942;
$whiteShadow: rgb(18, 30, 50) 3px 3px 3px;
$aiddataBlue: #1c273b;//#1c2a43;
$ligherAiddataBlue: lighten($aiddataBlue, 20%);
$backgroundGray: #f1f1f1;
$header_height: 80px;
/* Bootstrap overrides */

$baseFontSize: 13px; 
//$navbarBackground: #172237;
//$navbarBackgroundHighlight: rgba(0,0,0,0);
$linkColor: #1146a6;
$sansFontFamily: Arial, Tahoma, sans-serif;

$btnInfoBackground: #63a3d1;
$btnInfoBackgroundHighlight: #4881b6;
$infoBackground: lighten(#63a3d1, 30%);
$infoText: #4881b6;

$btnWarningBackground: rgb(251, 180, 80);
$btnWarningBackgroundHighlight: rgb(248, 148, 6);
$warningBackground: rgb(251, 238, 213);
$warningText: #c09853;


@import "bootstrap";
@import "bootstrap-responsive";
@import "project/styles";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700");



/* mixins, variables, etc. */


@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
																										/* universal */

html {
  overflow-y: scroll;
}

.home-button {
  $home-button-height: 80px;
  $home-button-font-size: 1.3em;
  font-size: $home-button-font-size;
  height: $home-button-height;
  text-transform: uppercase;
  border-radius: 0px !important;
  padding-top: $home-button-height * 0.4;
  color: #555;
  &.btn-info {
    color: #1c273b;
  }

  &.btn-warning {
    color: white;
  }

}
.recent_resources {

  li {
    margin-bottom: 10px;
  }
}
.domain {
  visibility:hidden;
}
.no-padding {
  padding: 0;
}
.aiddata-blue {
  background-color: $aiddataBlue !important;
}
body {
  padding: 0 0 0 0;
  background-position:0px $header_height;
  background-repeat:repeat-x;

  background-color: white; //#f9f9f9;
  font-family: Tahoma, Arial, sans-serif;
  line-height: 14px;

  .gray-background {
    background-color: $backgroundGray;
    //width: 100%;
    //min-height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -500;
  }

  header {
    font-size: 1.2em;
    //background-color: $aiddataBlue;
    min-height: 100px;
    position: relative;
    background-color: white;
    
    .header-upper {
      padding: 0 20px 0 20px;
      
      &.hidden-phone {
        height: $header_height;
      }
      &.visible-phone {
        #logo {
          //border-bottom: 3px solid $aiddataBlue;
        }
      }
      #tagline{
          color: $aiddataBlue;
          font-family: "Open Sans", sans-serif;          
          font-weight: 400;
          font-size: 30px;
          margin-top: $header_height * 0.3;
          //position: absolute;
          //bottom: 0;
          //float: right;

          .beta-note {
            color: #999;
            text-transform: uppercase;
          }
          
        }
      position: relative;
      #logo {
          //position:absolute;
          //bottom:0px;
          //top: 0px;
          //max-height: 100%;
          //min-width:100%;
          
          img {
            margin-top: $header_height * 0.1;
            //max-width:150px;
            //height: $header_height;
            //max-width: nune !important;
            //width: auto !important;
            //height:100%;
          }
      }

    }
    ul.nav {
      width:100%;
      margin-bottom: 0px !important;
    }
    .nav-pills {

      &.header-links{
        //margin-top: 70px;
        background-color: $aiddataBlue;
      }
      li {

          &.dropdown.open {
            a {
              color: $aiddataBlue;
              background-color: white;
              .caret {
                border-top-color: $aiddataBlue !important;
                border-bottom-color: $aiddataBlue !important;
              }
            }

            ul a:hover {
              color: white;
              background-color: $aiddataBlue !important;
              background-image: none;
            }
          }

         a {
          padding-left: 8px;
          padding-right: 8px;
          border-radius:0px;
          color: white;
          .caret {
            border-top-color: #fff !important;
            border-bottom-color: #fff !important; 
          }

          &:hover {
            background-color: white;
            color: $aiddataBlue;
            
            .caret {
              border-top-color: $aiddataBlue !important;
              border-bottom-color: $aiddataBlue !important;
            }


          }
        
          &.dropdown li {
            
            a {
              color: $aiddataBlue;
            }
          }
        }
      }
    }

    
  }

  .with_shadow, .with_shadow:hover {
      box-shadow: rgba(50,50,50,.8) 0px 0px 9px;
  }
  .container, .container-fluid {

    &.main {
     padding: 10px 0 0 0px;
      //background-color: white;
    }

  }
}

.page-header {
  color: $aiddataBlue;
  border-bottom: 2px solid $aiddataBlue; 
  margin: 10px 0px 20px 0px;
}



.alerts {
  margin-top: 5px;
  display: block;
}


.row-fluid, .row {
  margin-left:0px;

  &.row-no-margin {
    margin: 0px;

    [class*="span"] {
      min-height: 0px
    }
  }
}
.center {
  text-align: center;
    h1 {
  margin-bottom: 10px;
  }

}

.social-thumbnail {
  $social-thumbnail-img-size: 200px;
  border-radius: 10px;
  height: $social-thumbnail-img-size;

  background-size: contain;
  background-origin:content-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-clip: border-box;

  img {
    
    max-height: $social-thumbnail-img-size;
    max-width: $social-thumbnail-img-size;
    width: auto;
  }
}

																											/* typography */

h1, h2, h3, h4, h5, h6 {
  color: $aiddataBlue;
  line-height: 1;
  margin-top: 10px;
}

// p {
//   font-size: 1em;
// }

                                      /* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
    a {
  color: #555;
      &:hover { 
  color: #222;
    }
    img {
    max-height:100px;
    }
  }
    small {
  float: left;
  }
    ul {
  float: right;
  list-style: none;
      li {
  float: left;
  margin-left: 10px;
      }
  }
}


                                            /* miscellaneous */

#home_first_row {
  background-repeat: repeat-x;
  background-size: 100% 110%;
}
.home_thumbnails {
  $thumbnail-height: 200px;
    .thumbnail {
      position: relative;
      background-color: white;
      h4 {
        text-shadow: rgba(18, 30, 50, .4) 2px 2px 5px;
        padding: 20px 10px 10px 10px;
        position: absolute;
        background-color: white;
        margin: 0 0 0 0;
        top: 0;
        left: 0;
        right: 0;

      }
      img {
        min-height: $thumbnail-height;
        //height: $thumbnail-height;
        width: 100%;
        //min-width: none;
        clip:rect(0px 100% $thumbnail-height 0)
      }
    }

 }


#home_media {
  h1,h2,h3,h4 {
    text-shadow: rgba(18, 30, 50, .4) 2px 2px 5px;
  }
}

$carousel_height: 300px;
#home_carousel {

  $carousel_width: 600px;
  //max-width: 900px;
  //max-height: 500px;
  margin: 0px auto 0px auto;
  //padding: 10px;

  .carousel-inner {

    .item {
      height: $carousel_height !important;
      overflow:hidden;
      background-color: white;
      h1 {
        position:absolute;
      }

      &.active iframe {
        // required to center iframe
        display:block;
        margin: auto auto;
      }
      img {
        //min-height: $carousel_height !important;
        //max-width: $carousel_width !important;
        margin: auto auto;
        clip:rect(0px $carousel_width $carousel_height 0)
      }

      .carousel-caption {
        //background-color: rgba(200,200,200, 0.8)
        
        a, a:hover {
          color: lighten($infoText, 10%);
          font-weight: 700;
        }
      }
    }
  }
}
.team-image {
  max-height: 200px;
  border: 1px solid $aiddataBlue;
  margin: 10px;
}

#stats-box {
  max-height: $carousel_height;

  #vitals {
    min-height: 120px;
    ul {
      li {
        color: #101010;
        //font-weight:  bold;
        font-size: 1.3em;
        margin-bottom: 8px;
        border-bottom: 1px solid #ddd;
      }
    }
  }

  #recent-changes {

  }
}

                    										/* forms */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 2px;
  height: auto !important;
  margin-bottom: 1px;
  margin-top: 2px;
  @include box_sizing;
}

label {
  font-weight: bold;
}
.help-block {
  margin: 0 0 0 0!important;
  color: #ccc;
  font-style: italic;
  display: inline;
}


#error_explanation {
  ul {
  color: #f00;
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.boolean {
	cursor:pointer;

    &:hover {
  	background-color:#d0d9f0;
  	}
}


.twitter-typeahead {
  min-width: 300px;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 300px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  line-height: 13px;
  font-size: 12px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: $aiddataBlue;
  background-image: -moz-linear-gradient(top, $aiddataBlue, $aiddataBlue);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($aiddataBlue), to($aiddataBlue));
  background-image: -webkit-linear-gradient(top, $aiddataBlue, $aiddataBlue);
  background-image: -o-linear-gradient(top, $aiddataBlue, $aiddataBlue);
  background-image: linear-gradient(to bottom, $aiddataBlue, $aiddataBlue);
  background-repeat: repeat-x;
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}
