<% provide :title, "#{@flow_class.project_id}: Flow Class" %>
<% provide :first_header, "Flow class for #{@flow_class.project_id}" %>

<p class='span12'><b>Flow Class 1:</b>
	 <%= if @flow_class.oda_like_1
	 	link_to @flow_class.oda_like_1.name, @flow_class.oda_like_1 
	 	end %>
</p>

<p class='span12'><b>Flow Class 2:</b>
	 <%= if @flow_class.oda_like_2
	 	link_to @flow_class.oda_like_2.name, @flow_class.oda_like_2 
	 	end %>
</p>
<p class='span12'><b>Flow Class Master:</b>
	 <%= if @flow_class.oda_like_master
	 	link_to @flow_class.oda_like_master.name, @flow_class.oda_like_master
	 	end %>
</p>

<p>
	<% if current_user_is_project_owner %>
		<%= link_to "Edit", "/projects/#{@project.id}/flow_class/edit" %> |
	<% end %> 
</p>
	
