<% provide(:title, "Exports") %>
<% provide(:header_content, "<h1>All Exports</h1>".html_safe ) %>
<%# <% @proj %1> %>
<div class="row">
  <div>
    <table class='table sortable' cellpadding="10">
      <thead>
        <tr>
          <th>Export Id</th>
          <th>Email</th>
          <th>Projects</th>
          <th>Time Created</th>
          <th>Last Updated</th>
          <th>Successfully Emailed?<th>
        </tr>
      </thead>
      <tbody>
        <% successful_exports = [] %>
        <% failed_exports = [] %>
        <% Export.all.each do |e| %>
          <% if e.mailed? %>
            <% successful_exports << e %>
          <% else %>
            <% failed_exports << e %>
          <% end %>
        <% end %>

        <% failed_exports.each do |e| %>
          <%= render partial: 'export_index_item', locals: {e: e} %>
        <% end %>
        <% successful_exports.each do |e| %>
          <%= render partial: 'export_index_item', locals: {e: e} %>
        <% end %>
      </tbody>
    </table>
  </div>
<div>
<%= javascript_include_tag "bootstrap_sortable/index" %>