<% provide(:title, "Export") %>
<% provide(:first_header, "") %>

<h2>Your request is being processed.</h2>
<div id="main_div" class="row">
<section>
<div class="progress progress-striped active">
  <div id="mybar" class="bar" ></div>
</div>
<div id="centered_div" class="center"
  <p>You may close this window and the export will continue</p>
</div>
</section>
<section>
	<!--
	<% if signed_in? %>
		<%= render partial: 'shared/follow_form', locals: {object: @export} %>
	<% end %>
	!-->
</section>
</div>
<div class="row">
<hr class="row span8">
<br>
</div>

<script>
  var bar = $('#mybar');
  var progress = 0;
  var export_path = 'test';

  function setProgress(percent){
    bar.css('width', percent + "%");
    bar.text(percent + "%");
  }

  var interval_id = setInterval(
  function(){
    $.getJSON("<%= "#{@export.id}.json" %>", function(data){

        $.each(data, function(key, val) {
          if (key === "status_percent") {
            progress = val
          }
          if (key === "file_path") {
            export_path = val
            //get to root path
            export_path = "../" + export_path;
          }
        });
      });
    setProgress(progress)
    if (progress == 100){
      bar.parent().removeClass("active");

      $(document.createElement("BUTTON"));
      var $finished_button = document.createElement('a');
      $finished_button.setAttribute('class', 'btn btn-primary');
      $finished_button.setAttribute('href', export_path);
      $finished_button.innerHTML = "Download Your Export";
      $("#centered_div").append($finished_button);

      clearInterval(interval_id)
    }
  }, 100);

</script>
