<% provide(:title, "Export") %>
<% provide(:first_header, "") %>

<h2>Your request is being processed.</h2>
<div id="main_div" class="row">
<section>
  <div id="centered_div" class="center" >
  <p> This status page is provided for your convenience -- you may close this window and the export will be <i>delivered to your inbox</i> when it's completed.</p>
  <p> You can also return to this page ( <%= link_to export_url  @export %> ) at any time to check the status of your export.</p>
</div>
<div class="progress progress-striped active">
  <div id="export_bar" class="bar" ></div>
</div>

<div id="centered_div_lower" class="center">
</div>

</section>
<section>
	<!--
	<% if signed_in? %>
		<%= render partial: 'shared/follow_form', locals: {object: @export} %>
	<% end %>
	!-->
</section>
</div>
<div class="row">
<hr class="row span8">
<br>
</div>

<script>
  var bar = $('#export_bar');
  var progress = 0;
  var export_path = 'test';

  function setProgress(percent){
    bar.css('width', percent + "%");
    bar.text(percent + "%");
  }

  var interval_id = setInterval(
  function(){
    $.getJSON("<%= "#{@export.id}.json" %>", function(data){

        $.each(data, function(key, val) {
          if (key === "status_percent") {
            progress = val
          }
          if (key === "file_path") {
            export_path = val
            //get to root path
            export_path = "../" + export_path;
          }
        });
      });
    setProgress(progress)
    if (progress == 100){
      bar.parent().removeClass("active");

      $(document.createElement("BUTTON"));
      var $finished_button = document.createElement('a');
      $finished_button.setAttribute('class', 'btn btn-primary');
      $finished_button.setAttribute('href', export_path);
      $finished_button.innerHTML = "Download Your Export";
      $("#centered_div_lower").append($finished_button);

      clearInterval(interval_id)
    }
  }, 100);

</script>
