<footer class="footer">
  <small>
    <a href="http://aiddata.org/"><%= image_tag "adt.png" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://blog.aiddata.org/">Blog</a></li>
    </ul>
  </nav>
</footer>