<li id="fat-menu" class="dropdown">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	   Projects 
	   <b class="caret"></b>
   </a>
	  
	<ul class="dropdown-menu">
		
		<% if current_user.present? && current_user.owner.present? %>
			<li><%= link_to "Create new project", new_project_path %></li>
		<% end %>

		<li><%= link_to_function "Find by ID", 'get_project_id_for_search()' %></li>
		<li><%= link_to "List all", projects_path %></li>
	</ul>
</li>