
%script#typeahead_template{type: "text/template"}
	.row-fluid

		%p
			<%= english %>
			| 
			%span.muted
				<% if (type=='Content') { %>
				Site content
				<% } else { %>
				<%= type %> #<%= value %>
				<% } %>
		